{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Page
{% endblock %}

{% block body_block %}
    <div>
        <h1>Rango says...</h1>
        <p>here is about page<p>
    </div>
    <div>
        <strong>{{ picture }}</strong>
        <a href='/rango/'>Back to Rango</a></br>
        <img src="{% static 'images/aboutrango.jpg' %}" alt="Rango with friend">
        <p>This tutorial has been put together by {{ name }}</p>
    </div>
    <div>
        <p>This 'cat' from MEDIA_DIR</p>
        <img src="{{MEDIA_URL}}cat.jpg" alt="Not Cat">
    </div>
{% endblock %}